In [27]:
print('Hola mundo')

Hola mundo

In [11]:
##Variables primitivas
entero = 3
decimal = 1.1
nombre = "Adrian"
segundo_nombre = "Vicente"
casado = False
profesor = True
hijos = None
print(type(entero))
print(type(decimal))
print(type(nombre))
print(type(segundo_nombre))
print(type(casado))
print(type(profesor))
print(type(hijos))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
Adrian
<class 'str'>

In [13]:
entero = nombre
print(entero)
print(type(entero))

Adrian
<class 'str'>

In [25]:
tuplas = ()
listas = []
diccionarios = {}

print(type(tuplas))
print(type(listas))
print(type(diccionarios))

if(""):
    print("Truty")
else:
    print("Falsy")
    
if("algo"):
    print("Truty")
else:
    print("Falsy")

if(0):
    print("Truty")
else:
    print("Falsy")
    
if(-1):
    print("Truty")
else:
    print("Falsy")

if(1):
    print("Truty")
else:
    print("Falsy")

if(None):
    print("Truty")
else:
    print("Falsy")
    
if(()):
    print("Truty")
else:
    print("Falsy")

if((1,2)):
    print("Truty")
else:
    print("Falsy")

if([]):
    print("Truty")
else:
    print("Falsy")

if([1,2]):
    print("Truty")
else:
    print("Falsy")

if({}):
    print("Truty")
else:
    print("Falsy")

if({1:2}):
    print("Truty")
else:
    print("Falsy")

<class 'tuple'>
<class 'list'>
<class 'dict'>
Falsy
Truty
Falsy
Truty
Truty
Falsy
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [26]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
arreglo[2:5]
arreglo[2:]
arreglo[:7]
arreglo[2:-1]
arreglo[-8:-1]
arreglo[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
print(type(7 in arreglo))
7 in arreglo 

arreglo.append(11)
arreglo

arreglo.pop()

arreglo.insert(1,1.1)
arreglo

<class 'bool'>

[1, 1.1, 1.1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [39]:
for numero in arreglo:
    print(numero)
    
contador = 0
while contador < 10 :
    print(contador)
    contador += 1

1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9

In [42]:
tupla_numeros = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tupla_numeros[0:3]
3 in tupla_numeros

True

In [47]:
jose = {
    nombre: "José",
    hijos: None,
    casado : False,
    "apellido" : 'Murillo',
    "Edad" : 21
}
jose

{'Adrian': 'José', None: None, False: False, 'apellido': 'Murillo', 'Edad': 21}

In [70]:
jose[nombre]

jose.keys()
jose.values()

"apellido" in jose.keys()
"apellido" in jose.values()

1 == 1 or 2 == 3 #True
1 == 1 and 2 == 3 #False

False